.i {
  padding: 12px 8px 12px;
}
.i[type='number'] {
  padding: 16px 4px 14px;
  width: 128px;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.l[type='submit'] {
  width: 96px;
  height: 56px;
  font-size: 24px;
  margin: 0;
}
img {
  padding: 24px;
}
